@import url(reset.css);

:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.wrap {
  max-width: 1920px;
  height: auto;
  background: url("img/8.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.home {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.covers1,
.covers2 {
  position: absolute;
  width: 100%;
  height: 50vh;
  background: #000;
  transition: 0.8s;
  z-index: 99999999;
}

.covers1 {
  top: 0;
  overflow: hidden;
}

.covers2 {
  bottom: 0;
}

.cover {
  height: 0;
}

#load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 90%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: "Hack", Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35c4f0;
  font-size: 2rem;
  margin: 0 10px;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

.none_wrap {
  display: none;
}

.block_wrap {
  display: block;
}

.home_text {
  width: 600px;
  text-align: center;
  color: #f1f2f3;
  margin: auto 0;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s;
}

.home_text h1 {
  font-family: "Roboto";
  width: 600px;
  height: 80px;
  font-size: 2.8rem;
  border-bottom: 2px solid #f1f2f3;
  margin: 0 0 25px;
  padding: 10px 0 0 45px;
  text-align: left;
  letter-spacing: 5px;
}

.home_text p {
  font-family: "Hack";
  font-weight: 600;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 200px;
}

.home_text a {
  padding-top: 60px;
  position: relative;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 14px rgba(0, 0, 0, 0.7),
    0 0 20px rgba(0, 0, 0, 0.4);
}
.home_text a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.home_text a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 150px;
  color: white;
  transition: 0.5s;
}

.fix {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99999;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 14px rgba(0, 0, 0, 0.7),
    0 0 20px rgba(0, 0, 0, 0.4);
  transform: translateX(-20px);
  opacity: 0;
  transition: 0.5s;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 35%;
  transform: translateX(20px);
  opacity: 0;
  transition: 0.5s;
}

.after_effect {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 15px;
  position: relative;
  transition: 0.3s;
}

.after_effect:after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.26);
  opacity: 0;
  transition: 0.3s;
}

.after_block {
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.after_block:after {
  opacity: 1;
}

.about {
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(0, 0, 0, 0.2);
  background: url("img/5.jpg") repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}
.ov {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.my {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s;
}

.my h2 {
  font-family: "Caveat";
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 5px;
  margin: 30px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.my p {
  width: 60%;
  text-align: center;
  font-family: "Caveat";
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 5px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.skils {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s;
}

.skil_card h3 {
  font-size: 2.4rem;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  font-family: "Hack";
}

.skil_card:nth-child(1) h3 {
  color: #f0652a;
}
.skil_card:nth-child(2) h3 {
  color: #32a9dc;
}
.skil_card:nth-child(3) h3 {
  color: #f0db50;
}
.python {
  background: linear-gradient(110deg, #0669ad 45%, #ffe263 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skil_card ul li {
  margin: 10px 0;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.content {
  width: 100%;
  height: 100vh;
  padding: 70px 200px 0;
  /* background: url("img/opacity.png") repeat; */
  background: rgba(0, 0, 0, 0.4);
  background-attachment: fixed;
  /* background-size: cover; */
  background-position: center center;
}

.content_box {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 20px;
}

.left,
.left2 {
  transform: translateX(-20px);
  opacity: 0;
  transition: 0.5s;
}

.right,
.right2 {
  transform: translateX(20px);
  opacity: 0;
  transition: 0.5s;
}
/* .content_title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 14px rgba(0, 0, 0, 0.7),
    0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
} */

.content_items {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
  position: relative;
}

.hover_effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 0 40px;
}

.hover_effect h5 {
  font-size: 1.4rem;
  text-align: center;
}

.hover_effect p {
  font-size: 1.2rem;
  text-align: left;
  line-height: 40px;
  text-align: center;
}

.hover_effect a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  border: 1px solid #fff;
}

.content_items:hover .hover_effect {
  opacity: 1;
}

.content_items img {
  width: 100%;
  height: 100%;
}

.content_items:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/4;
}
.content_items:nth-child(2) {
  grid-column: 3/5;
  grid-row: 1/5;
}

.content_items:nth-child(3) {
  grid-column: 1/3;
  grid-row: 4/8;
}
.content_items:nth-child(4) {
  grid-column: 3/5;
  grid-row: 5/8;
}

.contact {
  width: 100%;
  height: 30vh;
  background: url("img/6.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 0 8px rgba(0, 0, 0, 0.4),
    0 0 14px rgba(0, 0, 0, 0.2);
  position: relative;
}

.contact .ov {
  background: rgba(0, 0, 0, 0.9);
}

.contact_text {
  font-family: "Hack";
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  z-index: 99999;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
}

.contact_text h6 {
  font-size: 2rem;
}

.animated {
  transform: translateY(0);
  opacity: 1;
}
